body{
    background-color: yellow;
    color: rgb(0, 0, 0);
    h1{
        font-family:Arial;
        text-align: center;
        font-size: 70px;
        letter-spacing:30px;
        span{
            font-size: 90px;
            font-weight: bold;
        }
    }
}
